/* ==============================
   PAGE SET UP
============================== */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Helvetica", Arial, sans-serif, "Courier New", monospace, serif;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* ==============================
   STANDARD BODY STYLES
============================== */

h1,
h2,
h3,
p,
a {
  font-family: $font-1;
  line-height: 1.5;
}

h1,
h2 {
  font-size: 4.8rem;
}

h1 {
  color: $color-1;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 3.6rem;
  font-weight: 400;
}

p,
a {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 600;
}

/* ==============================
   NAVIGATION
============================== */

nav {
  background-color: $color-1;
  border-top: 1px solid $color-2;
  padding: 2rem;
}

.navBar {
  display: flex;
  justify-content: space-between;

  &__logo img {
    // min-width: 8rem;
    height: 3.2rem;
  }

  &__navLeft {
    display: flex;
  }

  &__menuLeft,
  &__menuRight {
    text-transform: uppercase;
    display: flex;

    a {
      color: $color-3;
    }
  }

  &__menuLeft {
    justify-content: flex-start;

    a {
      padding-right: 2rem;
    }
  }

  &__menuRight {
    justify-content: flex-end;

    a {
      padding-left: 2rem;
    }
  }
}

/* ==============================
   SECTION PADDING
============================== */

.intro,
.mediaBuy,
.social__facebook,
.social__instagram,
.social__youTube,
.quotes,
.getStarted {
  padding: 10rem 5rem;
}

/* ==============================
   INTRO
============================== */

.intro {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  &__businessImg {
    img {
      height: 60rem;
      flex-grow: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;

    p {
      font-size: 2.4rem;
      color: $color-1;
    }
  }

  &__button--pink {
    background-color: $color-2;
    padding: 1rem 5rem;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    color: $color-3;
  }
}

/* ==============================
   MEDIA BUYING
============================== */

.mediaBuy {
  background-color: $color-1;

  &__content {
    text-align: center;
    color: $color-3;
  }

  &__copy {
    text-align: center;
    padding: 0 15rem;
  }

  &__arrowLink {
    margin-top: 4rem;
    img {
      //   width: 10%;
      height: 3rem;
      rotate: -90deg;
    }
  }
}

/* ==============================
   SOCIAL
============================== */

.social {
  color: $color-5;

  &__facebook,
  &__instagram,
  &__youTube {
    display: flex;
    align-items: center;
  }

  &__instagram {
    flex-direction: row-reverse;
  }

  &__facebookCopy,
  &__instagramCopy,
  &__youTubeCopy {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__platformImg {
    width: 50%;
  }

  &__buttonLink {
    margin-top: 2rem;
  }

  &__button--outline {
    color: $color-4;
    text-transform: uppercase;
    border: 1px solid $color-4;
    border-radius: 5px;
    padding: 2rem 5rem;
  }
}

/* ==============================
   QUOTES
============================== */

.quotes {
  color: $color-3;
  background-image: url("https://1d6uol1756s63dcmhp5yd8og-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/BG_Hills_Banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70rem;
  display: flex;
  justify-content: center;

  &__hills {
    display: flex;
    align-items: center;
    padding: 0 10rem;
  }

  &__hillsCopy {
    text-align: center;
  }

  &__hillsLogo {
    width: 40%;
  }
}

/* ==============================
   GET STARTED
============================== */

.getStarted {
  text-align: center;
  color: $color-5;

  &__copy {
    padding: 0 20rem;
  }
  &__buttonLink {
    margin-top: 5rem;
  }
}
