/* ==============================
   PAGE SET UP
============================== */

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: "Helvetica", Arial, sans-serif, "Courier New", monospace, serif;
}

.wrapper {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}

img {
	width: 100%;
}

/* ==============================
   REMOVE DEFAULTS
============================== */

li {
	list-style: none;
}

ul {
	padding-left: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

/* ==============================
   STANDARD BODY STYLES
============================== */

h1,
h2,
h3,
p,
a {
	font-family: $font-1;
	line-height: 1.5;
	letter-spacing: 0.5px;
	word-spacing: 0.16rem;
}

h1,
h2 {
	font-size: 4.8rem;
}

h1 {
	color: $color-1;
}

h2 {
	font-weight: 500;
}

h3 {
	font-size: 3.6rem;
	font-weight: 400;
}

p,
a {
	font-size: 1.6rem;
}

.fontLight {
	font-weight: 300;
}

.lineBreak::before {
	content: "\A";
	white-space: pre;
}

a:focus {
	outline: 3px dotted $color-2;
	border-radius: 5px;
}

/* ==============================
   NAV BAR
============================== */

nav {
	background-color: $color-1;
	border-top: 1px solid $color-2;
	padding: 2rem;
	display: flex;
	// position: fixed;
}

.navBar {
	display: flex;
	align-items: center;

	&__logo {
		margin-right: 2rem;

		img {
			min-width: 125px;
			height: 3.2rem;
		}
	}

	&__menuLists {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menuLeft,
	&__menuRight {
		text-transform: uppercase;
		display: flex;
		align-items: center;

		a {
			color: $color-3;
		}
	}

	&__menuLeft {
		justify-content: flex-start;

		li {
			padding-right: 2rem;
		}
	}

	&__menuRight {
		justify-content: flex-end;
		text-align: left;

		li {
			padding-left: 2rem;
		}
	}

	/* ==============================
     MOBILE NAV
  ============================== */

	&__mobileNav {
		display: none;
		position: fixed;
		top: 0rem;
		right: 5rem;
		padding: 2rem;

		span {
			display: block;
			width: 2.9rem;
			height: 0.4rem;
			background-color: $color-2;
			margin: 0.65rem;
			transition: all 0.3s ease;
		}
	}

	&__mobileContainer {
		background-color: $color-1;
		padding: 0.8rem;
		border-radius: 5rem;
		text-align: right;
	}
}

/* ==============================
   SECTIONS PADDING
============================== */

.intro,
.mediaBuy,
.social__facebook,
.social__instagram,
.social__youTube,
.quotes,
.getStarted {
	padding: 10rem 5rem;
}

/* ==============================
   INTRO
============================== */

.intro {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	&__businessImg {
		margin-left: 2rem;
		width: calc(40% - 2rem);

		img {
			height: 60rem;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 60%;

		p {
			font-size: 2.4rem;
			color: $color-1;
		}
	}

	&__button--pink {
		display: inline-block;
		background-color: $color-2;
		padding: 1rem 5rem;
		border-radius: 5px;
		text-align: center;
		text-transform: uppercase;
		color: $color-6;
		font-weight: 600;

		&:hover,
		&:focus {
			background-color: darken($color: $color-2, $amount: 18%);
		}
	}
}

/* ==============================
   MEDIA BUYING
============================== */

.mediaBuy {
	background-color: $color-1;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $color-3;
	}

	&__copy {
		text-align: center;
		width: 60%;
	}

	&__arrowLink {
		margin-top: 4rem;

		img {
			height: 3rem;
			transform: rotate(0.75turn);
		}
	}
}

/* ==============================
   SOCIAL
============================== */

.social {
	color: $color-5;

	&__facebook,
	&__instagram,
	&__youTube {
		display: flex;
		align-items: center;
	}

	&__instagram {
		flex-direction: row-reverse;
	}

	&__facebookCopy,
	&__instagramCopy,
	&__youTubeCopy {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	&__platformImg {
		width: 50%;
		img {
			height: 50rem;
		}
	}

	&__buttonLink {
		margin-top: 2rem;
	}

	&__button--outline {
		display: inline-block;
		color: $color-4;
		text-transform: uppercase;
		border: 1px solid $color-4;
		border-radius: 5px;
		padding: 2rem 5rem;

		&:hover,
		&:focus {
			background-color: $color-1;
			color: $color-3;
		}
	}
}

/* ==============================
   QUOTES
============================== */

.quotes {
	color: $color-3;
	background-image: url("https://1d6uol1756s63dcmhp5yd8og-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/BG_Hills_Banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 70rem;
	display: flex;
	justify-content: center;

	&__hills {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 10rem;
	}

	&__hillsCopy {
		margin-left: 5rem;
		width: 70%;
	}

	&__hillsLogo {
		img {
			height: 10rem;
		}
	}
}

/* ==============================
   GET STARTED
============================== */

.getStarted {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $color-5;
	}

	&__copy {
		text-align: center;
		width: 60%;
	}

	&__buttonLink {
		margin-top: 5rem;
	}
}
