article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

/* ==============================
   COLORS
============================== */
/* ==============================
   FONTS
============================== */
/* ==============================
   PAGE SET UP
============================== */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Helvetica", Arial, sans-serif, "Courier New", monospace, serif;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* ==============================
   REMOVE DEFAULTS
============================== */
li {
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* ==============================
   STANDARD BODY STYLES
============================== */
h1,
h2,
h3,
p,
a,
cite {
  font-family: "Helvetica";
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 0.16rem;
}

h1,
h2 {
  font-size: 4.8rem;
}

h1 {
  color: #34495e;
}

h2 {
  font-weight: 500;
}

h3 {
  font-size: 3.6rem;
  font-weight: 400;
}

p,
a,
cite {
  font-size: 1.6rem;
}

.fontLight {
  font-weight: 300;
}

.lineBreak::before {
  content: "\A";
  white-space: pre;
}

a:focus {
  outline: 3px dotted #ff3366;
  border-radius: 5px;
}

.italic {
  font-style: italic;
}

/* ==============================
   NAV BAR
============================== */
nav {
  background-color: #34495e;
  border-top: 1px solid #ff3366;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* ==============================
     MOBILE NAV
  ============================== */
}

.navBar__logo {
  margin-right: 2rem;
}

.navBar__logo img {
  min-width: 125px;
  height: 3.2rem;
}

.navBar__menuLists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar__menuLeft, .navBar__menuRight {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar__menuLeft a, .navBar__menuRight a {
  color: #f4f7f9;
}

.navBar__menuLeft {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navBar__menuLeft li {
  padding-right: 2rem;
}

.navBar__menuRight {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
}

.navBar__menuRight li {
  padding-left: 2rem;
}

.navBar__mobileNav {
  display: none;
  position: fixed;
  top: 0rem;
  right: 5rem;
  padding: 2rem;
}

.navBar__mobileNav span {
  display: block;
  width: 2.9rem;
  height: 0.4rem;
  background-color: #ff3366;
  margin: 0.65rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navBar__mobileContainer {
  background-color: #34495e;
  padding: 0.8rem;
  border-radius: 5rem;
  text-align: right;
}

/* ==============================
   SECTIONS PADDING
============================== */
.intro,
.mediaBuy,
.social__facebook,
.social__instagram,
.social__youTube,
.quotes,
.getStarted,
.clients {
  padding: 10rem 5rem;
}

/* ==============================
   INTRO
============================== */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__businessImg {
  margin-left: 2rem;
  width: calc(40% - 2rem);
}

.intro__businessImg img {
  height: 60rem;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.intro__content p {
  font-size: 2.4rem;
  color: #34495e;
}

.intro__button--pink {
  display: inline-block;
  background-color: #ff3366;
  padding: 1rem 5rem;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 600;
}

.intro__button--pink:hover, .intro__button--pink:focus {
  background-color: #d60036;
}

/* ==============================
   MEDIA BUYING
============================== */
.mediaBuy {
  background-color: #34495e;
}

.mediaBuy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f4f7f9;
}

.mediaBuy__copy {
  text-align: center;
  width: 60%;
}

.mediaBuy__arrowLink {
  margin-top: 4rem;
}

.mediaBuy__arrowLink img {
  height: 8rem;
  padding: 2rem;
  -webkit-transform: rotate(0.75turn);
          transform: rotate(0.75turn);
}

.mediaBuy__arrowLink img:hover {
  background-color: #ff3366;
  border-radius: 5%;
}

/* ==============================
   SOCIAL
============================== */
.social {
  color: #333031;
}

.social__facebook, .social__instagram, .social__youTube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__instagram {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.social__facebookCopy, .social__instagramCopy, .social__youTubeCopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.social__platformImg {
  width: 50%;
}

.social__platformImg img {
  height: 50rem;
}

.social__buttonLink {
  margin-top: 2rem;
}

.social__button--outline {
  display: inline-block;
  color: #5b5a5b;
  text-transform: uppercase;
  border: 1px solid #5b5a5b;
  border-radius: 5px;
  padding: 2rem 5rem;
}

.social__button--outline:hover, .social__button--outline:focus {
  background-color: #34495e;
  color: #f4f7f9;
}

/* ==============================
   CLIENTS
============================== */
.clients {
  background-color: #ccd0d7;
  color: #f4f7f9;
}

.clients__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(300px, auto);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
      grid-template-areas: "clientA clientB" "clientA clientC";
}

.clients__quote::before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ff3366;
  font-size: 5em;
}

.clients__quote::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ff3366;
  font-size: 5em;
}

.clients__hills {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: clientA;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://1d6uol1756s63dcmhp5yd8og-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/BG_Hills_Banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clients__hillsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__hillsLogo {
  width: 100%;
  margin: 1rem;
}

.clients__hillsLogo img {
  height: 10rem;
}

.clients__photoSquared {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: clientB;
  padding: 4rem;
  background-image: url("https://1d6uol1756s63dcmhp5yd8og-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/BG_Photosquared.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clients__photoSquaredLogo {
  width: 100%;
  margin: 1rem;
}

.clients__photoSquaredLogo img {
  height: 5rem;
}

.clients__shoppingChannel {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: clientC;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/assets/ClientLogosAndMedia/BG_TSC_Instagram-Case-Study.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clients__shoppingChannelLogo {
  width: 30%;
  margin: 1rem auto;
}

/* ==============================
   GET STARTED
============================== */
.getStarted__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333031;
}

.getStarted__copy {
  text-align: center;
  width: 60%;
}

.getStarted__buttonLink {
  margin-top: 5rem;
}

@media (max-width: 1150px) {
  .clients__container {
        grid-template-areas: "clientA clientA" "clientB clientB" "clientC clientC";
  }
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .navBar__menuLists {
    position: fixed;
    right: 0px;
    top: 0vh;
    height: 100vh;
    width: 90%;
    padding: 5rem;
    background-color: #34495e;
    z-index: 10;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  }
  .navBar__menu--mobileActive {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .navBar__menuLists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding-right: 2rem;
  }
  .navBar__menuLeft, .navBar__menuRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navBar__menuLeft li, .navBar__menuRight li {
    padding-left: 0;
    padding-right: 0;
  }
  .navBar__menuItem {
    opacity: 0;
    padding: 2rem 0;
    border-bottom: 2px solid #ff3366;
  }
  .navBar__menuItem a:hover {
    color: #ff3366;
  }
  .navBar__mobileNav {
    display: block;
    z-index: 20;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(5rem);
              transform: translateX(5rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0rem);
              transform: translateX(0rem);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(5rem);
              transform: translateX(5rem);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0rem);
              transform: translateX(0rem);
    }
  }
  .navBar__mobileBurger--toExit .navBar__mobileBurger--line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
  }
  .navBar__mobileBurger--toExit .navBar__mobileBurger--line2 {
    opacity: 0;
  }
  .navBar__mobileBurger--toExit .navBar__mobileBurger--line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
            transform: rotate(45deg) translate(-8px, -6px);
  }
}

@media (max-width: 760px) {
  .intro,
  .mediaBuy,
  .social__facebook,
  .social__instagram,
  .social__youTube,
  .quotes,
  .getStarted {
    padding: 5rem 5rem;
  }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__businessImg {
    margin-left: 0;
    width: 100%;
  }
  .intro__businessImg img {
    height: 40rem;
  }
  .intro__content {
    width: 100%;
  }
  .mediaBuy__copy {
    width: 80%;
  }
  .social__facebook, .social__instagram, .social__youTube {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social__facebookCopy, .social__instagramCopy, .social__youTubeCopy {
    width: 100%;
  }
  .social__platformImg {
    width: 100%;
  }
  .quotes__hills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .quotes__hillsCopy {
    width: 90%;
    margin-left: 0;
    margin-top: 3rem;
  }
  .getStarted__copy {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */